.accomplish {
  padding: 70px min(10%, 15vw);
  position: relative;
  z-index: 1;

  position: absolute;
  background: #fff;

  .text {
    display: flex;
    align-items: center;

    margin-bottom: 30px;

    h2 {
      width: 100%;
      font-size: clamp(1.4rem, 2vw, 4rem);
      margin-right: 3vw;
    }

    p {
      font-size: clamp(1rem, 1.6vw, 2.4rem);
      font-weight: 600;
      width: 100%;
    }

    @media (max-width: 500px) {
      h2 {
        font-size: 4vw;
      }

      p {
        font-size: 3vw;
      }
    }
  }
}
