.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;

  color: #fff;

  background: #000;
  margin-top: -115px;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      //   font-size: clamp(2rem, 4vw, 5rem);
      font-size: clamp(2rem, 3.5vw, 5rem);
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#f06844),
        color-stop(25%, #ee4c54),
        color-stop(50%, #d45e95),
        color-stop(75%, #9c6ca6),
        to(#6583c1)
      );
      background: -webkit-linear-gradient(
        left,
        #f06844 0%,
        #ee4c54 25%,
        #d45e95 50%,
        #9c6ca6 75%,
        #6583c1 100%
      );
      background: linear-gradient(
        to right,
        #f06844 0%,
        #ee4c54 25%,
        #d45e95 50%,
        #9c6ca6 75%,
        #6583c1 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      width: 60vw;
      //   max-width: 1194px;
      //   width: 100%;
      //   font-weight: 400;

      //   font-size: clamp(1.25rem, 1vw, 2rem);
      font-weight: 500;
      font-size: 24px;
      text-align: center;
      margin: 15px 0;
    }

    @media (max-width: 500px) {
      h2 {
        font-size: 7vw;
      }
      p {
        padding: 0 25px;
        font-size: 18px;
        width: 100%;
      }
    }
  }

  .wrapper {
    width: 100%;

    .item {
      padding: 25px 100px 0 50px;

      //   @media (max-width: 650px) {
      //     padding: 0 20px;
      //   }
    }

    :global(.swiper-slide) {
      //   max-height: 500px;
    }

    :global(.swiper-slide-active) {
      margin-right: 20px;
      margin-left: 20px;
    }

    :global(.swiper) {
      //   width: 1200px;
      //   height: 100vh;
      width: clamp(60rem, 70vw, 85rem);
      height: clamp(55vh, 40rem, 80vh);

      max-width: 1800px;

      transition: width 0.2s ease;

      @media (max-width: 1000px) {
        width: max(30%, 600px);
        height: clamp(25vh, 20rem, 40vh);
      }

      @media (max-width: 650px) {
        height: clamp(33vh, 17rem, 34vh);
        width: 100%;
      }
    }

    :global(.swiper-pagination-bullets) {
      //   bottom: 20px;
      @media (min-width: 1000px) and (max-width: 1200px) {
        bottom: 10px;
      }
    }

    :global(.swiper-pagination-bullet) {
      background: #fff;
      opacity: 0.8;

      @media (max-width: 650px) {
        display: none;
      }
    }

    :global(.swiper-pagination-bullet-active) {
      background: rgb(22, 106, 234);
      opacity: 1;
    }

    :global(.swiper-button-next) {
      height: 100%;
      top: 0;

      @media (max-width: 650px) {
        display: none;
      }
    }

    :global(.swiper-button-prev) {
      height: 100%;
      top: 0;

      @media (max-width: 650px) {
        display: none;
      }
    }
  }
}
