.item {
  display: flex;
  height: 350px;
  background: #fff;
  // min-height: 200px;

  border-radius: 25px;

  position: relative;

  color: #fff;

  cursor: pointer;

  transition: 0.3s;

  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100.75deg, #70f 18.61%, #882aa8 87.27%);
    opacity: 0;
    border-radius: 30px;
    overflow: hidden;
  }

  &:hover {
    .text {
      background: transparent;
      color: #fff;
    }
    &::before {
      transition: 0.3s;
      opacity: 1;
      // background: linear-gradient(118.31deg, #2f40ad 17.5%, #73527a 28.44%, #bf6541 67.5%);
    }
  }

  a {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
  }

  .imageWrap {
    width: 100%;

    .img {
      z-index: 5;
      width: 400px;
      height: 100%;

      object-fit: cover;

      border-radius: 25px;

      overflow: hidden;
      position: relative;
    }
  }

  .text {
    padding: 20px 50px;
    border-radius: 0px 30px 30px 0px;

    user-select: none;
    color: #000;
    background: #fff;

    z-index: 5;

    span {
      font-size: 14px;
      font-weight: 400;
    }

    h3 {
      font-size: 28px;

      margin: 10px 0;
    }

    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 22px;
    }
  }
}
