.wrapper {
  padding: 0px 40px 0px 30px;
  border: 2px solid #000;
  border-radius: 25px;

  overflow: hidden;

  cursor: pointer;
  user-select: none;

  transition: all 0.3s ease;

  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headline {
      font-size: 20px;

      font-weight: 500;

      margin-bottom: 20px;
      margin-top: 20px;
    }

    .arrow {
      background: #000;
      padding: 8px 6px;
      height: 35px;
      width: 50px;
      border-radius: 30%;
    }
  }

  .description {
    height: 0;

    font-size: 16px;
    line-height: 1.28;
    font-weight: 400;

    margin: 5px 80px 20px 0;

    // margin-bottom: 20px;
    // padding-top: 30px;

    // margin-right: 80px;
  }
}
