.text {
  font-size: 28px;

  @media (max-width: 1600px) {
    font-size: 26px;
  }

  @media (max-width: 1440px) {
    font-size: 20px;
  }

  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -5px;
      top: 0;
      height: 100%;
      width: 2px;
      background: #fff;
      animation: blinker 0.65s step-start infinite;
    }
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
