.wrapper {
  display: flex;
  cursor: pointer;

  &:hover {
    .arrow {
      transform: translateX(10px);
    }
  }

  .button {
    display: inline-block;

    font-weight: 500;
    color: #fff;

    user-select: none;

    border-radius: 40px;

    transition: background 0.1s ease-in, padding 0.3s ease;

    //   font-size: clamp(1rem, 1.2vw, 1.5rem);

    //   font-size: 20px;

    padding: clamp(0.4rem, 1vw, 1rem) clamp(1.6rem, 1.4vw, 3rem);

    border: 0;
    background: transparent;

    border-bottom: 1px solid #fff;

    border-radius: 0;
    padding: 0;
    padding-bottom: 5px;
    font-size: 24px;
  }

  .arrow {
    width: 25px;

    margin-left: 10px;

    transition: transform 0.25s ease-in-out;
  }
}
