.influence {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;

  color: #fff;

  background: #000;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: clamp(2rem, 4vw, 5rem);
    }

    p {
      width: 50vw;
      font-weight: 300;

      font-size: clamp(1.25rem, 1.3vw, 2rem);

      margin: 10px 0;
    }

    // @media only screen and (min-width: 1600px) {
    //   p {
    //     width: 1000px;
    //     font-size: 28px;
    //   }

    //   h2 {
    //     font-size: 56px;
    //   }
    // }
  }

  .wrapper {
    :global(.swiper) {
      //   width: 1200px;
      //   height: 100vh;
      width: clamp(60rem, 70vw, 85rem);
      height: clamp(55vh, 40rem, 80vh);

      max-width: 1800px;

      transition: width 0.2s ease;
    }

    :global(.swiper-pagination-bullets) {
      bottom: 20px;
      @media (min-width: 1000px) and (max-width: 1200px) {
        bottom: 10px;
      }

      @media (min-width: 125em) {
      }
    }

    :global(.swiper-pagination-bullet) {
      background: #fff;
      opacity: 0.8;
    }

    :global(.swiper-pagination-bullet-active) {
      background: rgb(22, 106, 234);
      opacity: 1;
    }

    :global(.swiper-button-next) {
      height: 100%;
      top: 0;
    }

    :global(.swiper-button-prev) {
      height: 100%;
      top: 0;
    }
  }
}
