// $blogBackground: #f3efe5;
$blogBackground: #fff;

.wrapper {
  padding: 50px 0 0 0;

  position: relative;

  background: $blogBackground;

  .return {
    display: inline-block;
    margin-bottom: 30px;

    span {
      font-weight: bold;
    }

    &:hover {
      span {
        border-bottom: 1px solid #000;
      }
    }
  }

  //   .content {
  //     max-width: 1280px;
  //     width: 100%;

  //     @media (max-width: 1440px) {
  //       max-width: 1024px;
  //     }

  //     @media (max-width: 1250px) {
  //       max-width: 900px;
  //     }

  //     @media (max-width: 1068px) {
  //       max-width: 692px;
  //     }

  //     @media (max-width: 734px) {
  //       max-width: 100%;

  //       padding: 0 50px;
  //     }

  .title {
    margin-bottom: 40px;

    font-size: 36px;

    @media (max-width: 734px) {
      font-size: 28px;
    }

    @media (max-width: 450px) {
      font-size: 24px;
    }
  }

  .headerImg {
    position: relative;

    img {
      //   border-radius: 30px;
    }
  }

  .date {
    display: flex;
    align-items: center;

    font-size: 16px;

    padding-top: 40px;

    @media (max-width: 500px) {
      font-size: 12px;
    }

    @media (max-width: 390px) {
      font-size: 10px;
    }

    .line {
      height: 1px;
      background: #000;
      flex: 1;
      margin: 0 20px;
    }
  }

  .author {
    display: flex;
    position: relative;

    border-radius: 30px;

    margin: 100px 0;
    padding: 30px 40px;

    background: #fff;

    display: flex;

    @media (max-width: 734px) {
      padding: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .img {
      position: relative;
      min-width: 100px;
      height: 100px;
      margin-right: 25px;
      z-index: 5;
      object-fit: cover;
      overflow: hidden;
      position: relative;

      @media (max-width: 734px) {
        min-width: 80px;
        height: 80px;

        margin-right: 0;
      }

      img {
        border-radius: 50%;
        border: 3px solid #000;
        object-fit: contain;
      }
    }

    .info {
      margin-top: 5px;

      .name {
        font-size: 24px;

        margin: 10px 0;

        font-weight: 600;

        @media (max-width: 734px) {
          font-size: 20px;

          margin: 8px 0;
        }
      }

      .position {
        font-weight: 500;

        @media (max-width: 734px) {
          font-size: 18px;
        }
      }

      .description {
        margin: 10px 0;
        line-height: 1.6;

        @media (max-width: 734px) {
          margin: 10px 0;

          font-size: 13px;

          line-height: 1.5;
        }
      }
    }
  }
}
// }
