@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan Thin'), local('Spartan-Thin'),
    url('./fonts/Spartan-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan ExtraLight'), local('Spartan-ExtraLight'),
    url('./fonts/Spartan-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan Light'), local('Spartan-Light'),
    url('./fonts/Spartan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan Regular'), local('Spartan-Regular'),
    url('./fonts/Spartan-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan Medium'), local('Spartan-Medium'),
    url('./fonts/Spartan-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan SemiBold'), local('Spartan-SemiBold'),
    url('./fonts/Spartan-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan Bold'), local('Spartan-Bold'),
    url('./fonts/Spartan-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan ExtraBold'), local('Spartan-ExtraBold'),
    url('./fonts/Spartan-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Spartan';
  src: local('./fonts/Spartan Black'), local('Spartan-Black'),
    url('./fonts/Spartan-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
