@import './comparing-table.scss';
@import './fonts';

$global-wrapper: '.global-wrapper' !default;
$global-wrapper--small: '.global-wrapper--small' !default;

html {
  scroll-behavior: smooth !important;
}

:root {
  //   --navbar-height: 75px;
  --navbar-height: 65px;
  --localnavbar-height: 60px;
}

html,
body {
  height: 100%;
  position: relative;
  //   font-family: 'Spartan', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  //     Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  body {
    /* Specify default font and fallback */
    font-family: 'Satoshi', sans-serif;
  }
}

body {
  @media only screen and (max-width: 1023px) and (max-device-width: 736px) {
    min-width: 320px;
  }
}

main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  user-select: none;
}

button {
  border: 0;
  outline: none;
}

.global-wrapper {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1440px) {
    max-width: 1024px;
  }

  @media (max-width: 1068px) {
    max-width: 850px;
  }

  @media (max-width: 900px) {
    max-width: 692px;
  }

  @media (max-width: 734px) {
    max-width: 100%;
    padding: 0px 40px;
  }
}

.global-wrapper--small {
  margin-left: auto;
  margin-right: auto;
  width: 980px;

  @media only screen and (min-width: 1441px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 1068px) {
    margin-left: auto;
    margin-right: auto;
    width: 692px;
  }

  @media only screen and (max-width: 734px) {
    margin-left: auto;
    margin-right: auto;
    width: 87.5%;
  }

  @media only screen and (max-width: 734px) {
    //     max-width: 366px;
    // width: 100%;
  }
}

.global-blog-wrapper {
  width: 816.66667px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1068px) {
    width: 692px;
  }

  @media (max-width: 734px) {
    width: 100%;
  }
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.typography {
  font-size: 34px;
  color: #1d1d1f;

  &-headline {
    font-size: 48px;
    color: #1d1d1f;
    letter-spacing: 0;
    margin-bottom: 10px;
    font-weight: 600;

    &.spacing {
      margin-bottom: 40px;
    }

    @media only screen and (max-width: 1068px) {
      font-size: 32px;
      letter-spacing: 0.04em;
    }

    @media only screen and (max-width: 734px) {
      font-size: 26px;
      letter-spacing: -0.03em;

      //   max-width: 320px;
    }
  }

  &-title {
    font-size: 48px;
    color: #1d1d1f;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
    font-weight: 600;
    margin-bottom: 40px;

    @media only screen and (max-width: 1068px) {
      font-size: 38px;
    }
  }

  &-description {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);

    margin-bottom: 30px;

    @media (max-width: 1068px) {
      font-size: 16px;

      line-height: 1.3333;

      color: rgba(0, 0, 0, 0.8);
    }

    &.light {
      color: rgba(255, 255, 255, 0.85);
    }

    &.bold {
      font-weight: 800;
    }

    &.smaller {
      max-width: 350px;
      width: 100%;

      @media (max-width: 1068px) {
        width: 260px;
      }
    }

    &.small {
      max-width: 400px;
      width: 100%;

      @media (max-width: 1068px) {
        width: 300px;
      }
    }

    &.medium {
      max-width: 750px;
      width: 100%;
    }

    &.large {
      max-width: 1200px;
      width: 100%;
    }
  }

  &-section {
    &-headline {
      max-width: 83.3333333333%;

      font-size: 56px;
      color: #1d1d1f;
      padding: 56px 0;
      letter-spacing: -0.05em;
      font-weight: 600;

      text-align: center;

      @media only screen and (max-width: 1068px) {
        font-size: 40px;

        line-height: 1.1;
      }

      @media only screen and (max-width: 734px) {
        font-size: 32px;

        line-height: 1.125;
      }
    }
  }

  &-hero {
    &-headline {
      font-size: 64px;
      font-weight: 600;
      letter-spacing: 0em;

      @media only screen and (max-width: 734px) {
        font-size: 32px;

        line-height: 1.1;
      }
    }

    &-product {
      font-size: 28px;
      font-weight: 500;
      letter-spacing: -0.01em;
      margin: 10px;

      @media only screen and (max-width: 734px) {
        font-size: 20px;
      }

      &.bold {
        font-weight: 600;
      }
    }
  }
}
