html {
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: 'Spartan', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  user-select: none;
}

button {
  border: 0;
  outline: none;
}

.global-wrapper {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1440px) {
    max-width: 1024px;
  }

  @media (max-width: 1068px) {
    max-width: 850px;
  }

  @media (max-width: 900px) {
    max-width: 692px;
  }

  @media (max-width: 734px) {
    max-width: 100%;
    padding: 0px 40px;
  }
}
